In [3]:
import numpy as np
import pandas as pd

In [2]:
from google.colab import files
uploaded=files.upload()

Saving tmdb-movies.csv to tmdb-movies.csv

In [4]:
import io
df=pd.read_csv(io.BytesIO(uploaded['tmdb-movies.csv']),encoding='utf-8')

In [5]:
#concise summary of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10866 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10866 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10866 non-null  float64
 3   budget                10866 non-null  int64
 4   revenue               10866 non-null  int64
 5   original_title        10866 non-null  object
 6   cast                  10790 non-null  object
 7   homepage              2936 non-null   object
 8   director              10822 non-null  object
 9   tagline               8042 non-null   object
 10  keywords              9373 non-null   object
 11  overview              10862 non-null  object
 12  runtime               10866 non-null  int64
 13  genres                10843 non-null  object
 14  production_companies  9836 non-null   object
 15  release_date          10866 non-null  object
 16  vote_count            10866 non-null  int64
 17  vote_average          10866 non-null  float64
 18  release_year          10866 non-null  int64
 19  budget_adj            10866 non-null  float64
 20  revenue_adj           10866 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.7+ MB

In [6]:
#first 5 rows
df.head()

       id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0  135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1   76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2  262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3  140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4  168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09

[5 rows x 21 columns]

In [7]:
#last 5 rows
df.tail()

          id    imdb_id  popularity  ...  release_year     budget_adj revenue_adj
10861     21  tt0060371    0.080598  ...          1966       0.000000         0.0
10862  20379  tt0060472    0.065543  ...          1966       0.000000         0.0
10863  39768  tt0060161    0.065141  ...          1966       0.000000         0.0
10864  21449  tt0061177    0.064317  ...          1966       0.000000         0.0
10865  22293  tt0060666    0.035919  ...          1966  127642.279154         0.0

[5 rows x 21 columns]

**Observation**


*   Currency for 'budget','revenue','budget_adj' and 'revenue_adj' can be assumed to be in US dollars. 
*   There are entries where budget and revenue have '0' value.

In [8]:
#summary of dataset
df.describe()

                  id    popularity  ...    budget_adj   revenue_adj
count   10866.000000  10866.000000  ...  1.086600e+04  1.086600e+04
mean    66064.177434      0.646441  ...  1.755104e+07  5.136436e+07
std     92130.136561      1.000185  ...  3.430616e+07  1.446325e+08
min         5.000000      0.000065  ...  0.000000e+00  0.000000e+00
25%     10596.250000      0.207583  ...  0.000000e+00  0.000000e+00
50%     20669.000000      0.383856  ...  0.000000e+00  0.000000e+00
75%     75610.000000      0.713817  ...  2.085325e+07  3.369710e+07
max    417859.000000     32.985763  ...  4.250000e+08  2.827124e+09

[8 rows x 10 columns]

In [9]:
#count of null values
df.isna().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [10]:
#filling the null values with 0
df.fillna(0)

           id    imdb_id  popularity  ...  release_year    budget_adj   revenue_adj
0      135397  tt0369610   32.985763  ...          2015  1.379999e+08  1.392446e+09
1       76341  tt1392190   28.419936  ...          2015  1.379999e+08  3.481613e+08
2      262500  tt2908446   13.112507  ...          2015  1.012000e+08  2.716190e+08
3      140607  tt2488496   11.173104  ...          2015  1.839999e+08  1.902723e+09
4      168259  tt2820852    9.335014  ...          2015  1.747999e+08  1.385749e+09
...       ...        ...         ...  ...           ...           ...           ...
10861      21  tt0060371    0.080598  ...          1966  0.000000e+00  0.000000e+00
10862   20379  tt0060472    0.065543  ...          1966  0.000000e+00  0.000000e+00
10863   39768  tt0060161    0.065141  ...          1966  0.000000e+00  0.000000e+00
10864   21449  tt0061177    0.064317  ...          1966  0.000000e+00  0.000000e+00
10865   22293  tt0060666    0.035919  ...          1966  1.276423e+05  0.000000e+00

[10866 rows x 21 columns]

**Removing Duplicate Rows (if present)**

In [11]:
#getting count of duplicate rows
sum(df.duplicated())

1

In [12]:
#dropping duplicate rows
df.drop_duplicates(inplace=True)

In [13]:
#new shape of dataset
df.shape

(10865, 21)

**Changing release_date into Datetime Format**

In [14]:
df['release_date']=pd.to_datetime(df['release_date'])

In [15]:
df['release_date'].head()

0   2015-06-09
1   2015-05-13
2   2015-03-18
3   2015-12-15
4   2015-04-01
Name: release_date, dtype: datetime64[ns]

**Removing unnecessary columns**

Columns like imdb_id, homepage, tagline, overview, budget_adj and revenue_adj are useless.

In [16]:
df.shape

(10865, 21)

In [17]:
df.drop(['imdb_id','homepage','tagline','overview','budget_adj','revenue_adj'],axis=1,inplace=True)

In [18]:
df.shape

(10865, 15)

**Dropping incorrect or inappropriate rows**

Removing rows having budget value as '0' or revenue value as '0'. 0 value indicates lack of availability of data.

In [19]:
print("Rows with budget as 0:",df[(df['budget']==0)].shape[0])
print("Rows with revenue as 0:",df[(df['revenue']==0)].shape[0])

Rows with budget as 0: 5696
Rows with revenue as 0: 6016

In [20]:
#replacing all 0s
col=['budget', 'revenue']
df[col]=df[col].replace(0,np.NaN)

In [21]:
#dropping na valued rows
df.dropna(subset=col,inplace=True)

In [22]:
df.shape

(3854, 15)

**Q1:Which movie had the most profit during 2000-2005?**

In [23]:
#creating a new column in the dataframe 'profit'
df['profit']=df['revenue']-df['budget']

In [24]:
#getting new dataframe having movies from 2000 to 2005
df2=df[(df['release_year']>=2000)&(df['release_year']<=2005)]

In [25]:
#using idxmax to get max profit movie
high_index=df2['profit'].idxmax()
high=pd.DataFrame(df2.loc[high_index])
print("Movie with maximum profit between 2000-2005:",df2['original_title'][high_index])

Movie with maximum profit between 2000-2005: The Lord of the Rings: The Return of the King

In [26]:
print(high)

                                                                   4949
id                                                                  122
popularity                                                      7.12246
budget                                                          9.4e+07
revenue                                                     1.11889e+09
original_title            The Lord of the Rings: The Return of the King
cast                  Elijah Wood|Ian McKellen|Viggo Mortensen|Liv T...
director                                                  Peter Jackson
keywords              elves|orcs|middle-earth (tolkien)|based on nov...
runtime                                                             201
genres                                         Adventure|Fantasy|Action
production_companies                      WingNut Films|New Line Cinema
release_date                                        2003-12-01 00:00:00
vote_count                                                         5636
vote_average                                                        7.9
release_year                                                       2003
profit                                                      1.02489e+09

**Q2:Which are the movies with the second lowest and second highest budget?**

In [27]:
#using sort_values command to get the second highest value
df3=pd.DataFrame(df['budget'].sort_values(ascending=False))
df3['original_title']=df['original_title']
data=list(map(str,(df3['original_title'])))

In [28]:
#getting second highest budget movie
second_high=list(data[1:2])

In [29]:
#using sort_values command to get the second lowest value
df4=pd.DataFrame(df['budget'].sort_values(ascending=True))
df4['original_title']=df['original_title']
data2=list(map(str,(df4['original_title'])))

In [30]:
#getting second highest budget movie
second_low=list(data2[1:2])

In [31]:
print("Movie with second highest budget:",second_high)
print("Movie with second lowest budget:",second_low)

Movie with second highest budget: ['Pirates of the Caribbean: On Stranger Tides']
Movie with second lowest budget: ['Lost & Found']

**Q3:Which are the movies with most and least earned revenue?**

In [32]:
#using 'idxmin' to get lowest revenue movie
min_index=df['revenue'].idxmin()
#using 'idxmax' to get highest revenue movie
max_index=df['revenue'].idxmax()

In [33]:
max=pd.DataFrame(df.loc[max_index])
min=pd.DataFrame(df.loc[min_index])

In [34]:
#print movie with most and least earned revenue
print("Movie with most earned revenue:",df['original_title'][max_index])
print("Movie with least earned revenue:",df['original_title'][min_index])

Movie with most earned revenue: Avatar
Movie with least earned revenue: Shattered Glass

In [35]:
info=pd.concat([max,min],axis=1)
print(info)

                                                                   1386                                               5067
id                                                                19995                                              13537
popularity                                                      9.43277                                           0.462609
budget                                                         2.37e+08                                              6e+06
revenue                                                     2.78151e+09                                                  2
original_title                                                   Avatar                                    Shattered Glass
cast                  Sam Worthington|Zoe Saldana|Sigourney Weaver|S...  Hayden Christensen|Peter Sarsgaard|Chlo Sevi...
director                                                  James Cameron                                          Billy Ray
keywords              culture clash|future|space war|space colony|so...                                                NaN
runtime                                                             162                                                 94
genres                         Action|Adventure|Fantasy|Science Fiction                                      Drama|History
production_companies  Ingenious Film Partners|Twentieth Century Fox ...  Lions Gate Films|Cruise/Wagner Productions|Bau...
release_date                                        2009-12-10 00:00:00                                2003-11-14 00:00:00
vote_count                                                         8458                                                 46
vote_average                                                        7.1                                                6.4
release_year                                                       2009                                               2003
profit                                                      2.54451e+09                                             -6e+06

**Q4:What is the average runtime of movies in the year 2000?**

In [36]:
#getting new dataframe having movies from the year 2000
df4=df[(df['release_year']==2000)]
df4.head()

        id  popularity       budget  ...  vote_average release_year       profit
8661    98    4.271452  103000000.0  ...           7.7         2000  354640427.0
8662    77    3.095625    9000000.0  ...           7.9         2000   30723096.0
8663  8871    2.977558  123000000.0  ...           6.1         2000  222141403.0
8664  8358    2.197205   90000000.0  ...           7.3         2000  339632142.0
8665   107    2.153361   10000000.0  ...           7.5         2000   73557872.0

[5 rows x 16 columns]

In [39]:
print("Average runtime of movies in the year 2000:",df4['runtime'].mean(),"minutes")

Average runtime of movies in the year 2000: 109.16981132075472 minutes